@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(35, 113, 35);
    font: normal 16px Arial, sans-serif;
}
header {
    color: white;
    text-align: center;
    padding: 15px;
}
header h1 {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.400);
}
section {
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.400);
}
section div {
    margin: 10px;
}
section select {
    overflow:hidden;
    text-align: center;
    border: none;
}
section select option {
    text-align: justify;
    padding: 2px;
}
footer {
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
}