@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(78, 78, 255);
    color: #fff;
    font: normal 15px Arial, sans-serif;
    text-align: center;
}
header {
    padding: 15px;
}
section {
    text-align: left;
    width: 500px;
    margin: 0 auto;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
div > p {
    margin: 15px;
}
footer {
    margin-top: 15px;
    padding: 5px;
}

